<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
    <div class="header__burger" id="burger">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" width="256px" height="256px" viewBox="0 0 64.00 64.00"
           enable-background="new 0 0 64 64" xml:space="preserve" fill="#821328"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier"> <line fill="none" stroke="#821328" stroke-width="2" stroke-miterlimit="10"
                                           x1="12" y1="21" x2="52" y2="21"></line>
          <line fill="none" stroke="#821328" stroke-width="2" stroke-miterlimit="10" x1="12" y1="33" x2="52"
                y2="33"></line>
          <line fill="none" stroke="#821328" stroke-width="2" stroke-miterlimit="10" x1="12" y1="45" x2="52"
                y2="45"></line> </g>
            </svg>
    </div>
    <nav class="menu" id="menu">
      <div class="menu__close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
      <ul class="menu-list">
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(choiceElement)">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#info" class="menu__link">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(orderElement)">Оформить заказ</a>
        </li>
      </ul>
      <div class="footer__gift">
        <img src="assets/images/present.png" alt="Gift">
        <div class="footer__text">Оформите заказ и получите подарок!</div>
      </div>
    </nav>

    <div class="phone header__phone">{{ phone }}</div>

  </div>
</header>

<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="double-title main__double-title">
        Мягкие французские
        пироженки Macaroons
      </h1>
      <div class="advantage__description">
        Побалуйте себя и своих близких самыми вкусными
        и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(choiceElement)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main__image">
      <img src="assets/images/macaroons.png" alt="Macaroons" class="main__image-img">
    </div>
  </div>
</section>

<section class="info">
  <div class="container info__container">

    <div class="info__recipe">
      <div class="info-texts">
        <div class="info__double-title">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </div>
        <div class="info__description">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="info__image">
        <img src="assets/images/macaroon.png" alt="Macaroon" class="info__image-img">
      </div>
    </div>
    <div class="info__products">
      <div class="info__product" *ngFor="let product of products; let i = index">
        <div class="figures">{{ i + 1 }}</div>
        <div class="title">{{ product.title }}</div>
        <div class="description">{{ product.description }}</div>
      </div>
    </div>
  </div>
</section>

<section class="choice" #choiceElement>
  <div class="container choice__container">
    <div class="choice__text" id="pies">
      Выберите свой макарун
    </div>
    <div class="choice__items">
      <div class="choice__item" *ngFor="let choice of choices">
        <div class="choice__image">
          <img class="choice__image-img" src="assets/images/choice/{{choice.image}}" alt="Raspberry">
        </div>
        <div class="block">
          <div class="choice__title">{{ choice.title }}</div>
          <div class="quantity">{{ choice.quantity }}</div>
          <div class="price">{{ choice.price }}</div>
          <button class="btn choice__btn" (click)="addToCart(choice, orderElement)">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img src="assets/images/order/macaroons.png" alt="Macaroons" class="order__image-img">
      <img src="assets/images/order/berry.png" alt="Strawberry" class="order__berry-img">
    </div>
    <div class="order__text-form" [style.opacity]="showOrder ? '0' : '1'">
      <div class="order__title">Закажите макарун!</div>
      <div class="order__description">
        Выберите понравившийся макарун, заполните
        форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order__point">Ваш выбор</div>
      <form [formGroup]="myForm">
        <div>
          <div *ngIf="titleControl.invalid && (titleControl.dirty || titleControl.touched)" class="alert">
            <div *ngIf="titleControl.errors?.['required']">
              Выберите макарун!
            </div>
          </div>
          <input type="text" formControlName="choiceTitle" class="base-input order__base-input"
                 [(ngModel)]="formValues.choiceTitle" placeholder="Напишите, что хотите заказать..." required>
        </div>
        <div class="order__point">Заполните данные для заказа</div>
        <div>
          <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="alert">
            <div *ngIf="nameControl.errors?.['required']">Введите имя!</div>
            <div *ngIf="nameControl.errors?.['pattern']">Первая буква заглавная, только буквы!</div>
          </div>
          <input type="text" formControlName="name" class="base-input order__name-phone" placeholder="Ваше имя"
                 [(ngModel)]="formValues.name" required>
        </div>
        <div>
          <div *ngIf="phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)" class="alert">
            <div *ngIf="phoneControl.errors?.['required']">Укажите телефон!</div>
          </div>
          <input type="text" class="base-input order__name-phone" placeholder="+7 (__) ___ - __ - __"
                 prefix="+7 " mask="(000) 000-00-00"
                 [(ngModel)]="formValues.phone" formControlName="phone" required>
        </div>
        <button class="btn order__btn" (click)="createForm()">Оформить заказ</button>
      </form>

    </div>
    <div class="order__berrycopy">
      <img src="assets/images/order/berrycopy.png" alt="Strawberry" class="order__berrycopy-img">
    </div>

    <div *ngIf="myForm.invalid ? showOrder: false" class="success">Спасибо за Ваш заказ. Мы скоро свяжемся с Вами!</div>
  </div>
</section>

<footer class="footer">
  <div class="container footer-container">
    <div class="footer__block">
      <div class="footer__logo">
        <img src="assets/images/logo.png" alt="Logo" class="footer__logo-img">
      </div>
      <div class="footer__rights">Все права защищены, 2020</div>
    </div>
    <div class="footer__network">
      <a class="decoration" href="{{instagram.link}}">
        <div class="footer__icon">
          <img src="assets/images/{{instagram.image}}" alt="Icon">
        </div>
        <div class="footer__link">Мы в Instagram</div>
      </a>
    </div>
    <div class="phone footer__phone">{{ phone }}</div>
  </div>
  <div class="footer__gift">
    <img src="assets/images/present.png" alt="Gift">
    <div class="footer__text" *ngIf="{showOrder: true} ? showPresent: false">Оформите заказ и получите подарок!</div>
  </div>
</footer>

<footer class="footer footer__pink" id="info">
  <div class="container footer-container">
    <div class="footer__logo">
      <img src="assets/images/logo.png" alt="Logo" class="footer__logo-img">
    </div>
    <div class="footer__rights">Все права защищены, 2020</div>
    <a class="decoration" href="{{instagram.link}}">
      <div class="footer__icon">
        <img src="assets/images/{{instagram.image}}" alt="Icon">
      </div>
      <div class="footer__link">Мы в Instagram</div>
    </a>
    <div class="phone footer__phone">{{ phone }}</div>
  </div>
</footer>

<div class="loader" [style.display]="loader ? 'flex' : 'none'">
  <div class="lds-hourglass"></div>
</div>
