body {
  font-family: Tavolga, sans-serif;
  margin: 0 auto 0;
}

.btn {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  line-height: 0.9;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

